$color-azul-oscuro: #0f1626;
$color-coral: #ff533d;
$color-blanco: #f5f5f5;
$color-leather: #ab987a;
$color-forest: #04202c;
$color-evergreen: #304040;
$color-pine: #5b7065;
$color-fog: #c9d1c8;
$color-indigo: #2d4262;
$color-taupe: #73605b;
$color-stormy: #494e6b;
$color-herb: #626e60;
$color-verde-oscuro: #020c0c;
$color-void: #0e0b16;
$color-fuschia: #6d0397;
$color-jewel: #4717f6;
$color-stark: #e7dfdd;
