@import "../../styles/variables.scss";

.Curriculum {
  background-image: url("../../assets/fondo.jpg");
  background-size: cover;
  height: 100vh;
  padding-left: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #00000071;
  }
}
.curriculum-content {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  bottom: 200px;
  z-index: 1;
}

.title-skill {
  position: relative;
  color: $color-stark;
  text-align: center;
  height: 60px;
  width: 210px;
  border-radius: 10px;
  top: 50px;
  right: 350px;
  font-size: 2.4rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.skill {
  width: 220px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  background-color: rgba(22, 21, 21, 0.685);
  border-radius: 10px;
  justify-content: center;
  color: $color-stark;
  text-align: center;
  position: relative;
  top: 150px;
}

.skill-content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.skill-icon {
  width: 80px;
  filter: grayscale(100%);
  cursor: pointer;
}

.skill-icon:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .curriculum-content {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    bottom: 200px;
    z-index: 1;
  }
  .skill {
    width: 160px;
    height: 100px;
    margin: 10px;
    background-color: rgba(22, 21, 21, 0.685);
    border-radius: 10px;
    justify-content: center;
    color: $color-stark;
    text-align: center;
    position: relative;
    top: 150px;
  }
  .title-skill {
    position: relative;
    left: -20px;
  }

  .Infodev {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .Curriculum {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .curriculum-content {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    position: relative;
    justify-content: center;
    left: 80px;
    top: -170px;
  }
  .title-skill {
    font-size: 30px;
    width: 150px;
    height: 50px;
    top: -100px;
    left: 160px;
    justify-content: center;
  }

  .skill {
    width: 90px;
    height: 80px;
    position: relative;
    top: 0px;
  }
  .skill-icon {
    width: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .curriculum-content {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    bottom: -100px;
    left: -120px;
    z-index: 1;
  }
  .skill {
    width: 120px;
    height: 100px;
    margin: 10px;
    background-color: rgba(22, 21, 21, 0.685);
    border-radius: 10px;
    justify-content: center;
    color: $color-stark;
    text-align: center;
    position: relative;
    top: 400px;
  }
  .title-skill {
    position: relative;
    left: 350px;
    top: -70px;
  }

  .Infodev {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .curriculum-content {
    width: 600px;
    padding: 0;
    position: relative;
    top: 120px;
    left: -120px;
    z-index: 1;
  }
  .skill {
    width: 130px;
    height: 120px;
    margin: 10px;
    background-color: rgba(22, 21, 21, 0.685);
    border-radius: 10px;
    justify-content: center;
    color: $color-stark;
    text-align: center;
    position: relative;
    top: 130px;
    left: 150px;
  }
  .title-skill {
    font-size: 40px;
    width: 200px;
    height: 60px;
    position: relative;
    left: 350px;
    top: -70px;
  }
  .skill-icon {
    width: 90px;
  }

  .Infodev {
    display: none;
  }
}
